@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Wait, you actually care enough to find more about us? Well, that is surprising, but..thanks! Anyway, we are a bunch of college students who like games and like to talk about them. So, we made this game blog together for everyone to share about all their favorite games!(we hope it's good and functioning right)</p>
