@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    That One Way<br />
    Over There, SOMEWHERE 90210<br />
    <abbr title="Phone">P:</abbr>
    ###.###.####
</address>

<address>
    <strong>Support:</strong>   <p>Emotional@yeet.neat</p><br />
    <strong>Marketing:</strong> <p>MUNNY@chaching.ring</p>
</address>