@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Gamer's Blog</h1>
    <hr class="header-divider"/>
    <p class="lead">Welcome to the Gamer's Blog! The main hub for all your gamer needs. Post anything involving the game's you enjoy. Whether it is a theory, discussion, spoiler(preferably not), or you need help in a bind, we got you!</p>
</div>

<div class="discussions">
    <h4 class="discussionHeader">Pokemon Gen 8</h4>
    <div class="discussionText">
        <p>#Team Scorbunny!!!! Fo real thoe, these little guys are adorable af.</p>
    </div>
    <div class="discussionImage">
        <hr />
        <img src="https://am21.akamaized.net/tms/cnt/uploads/2019/02/pokemon-sword-shield-switch-starters-1200x805.jpg"/>
    </div>
</div>