
@{
    ViewBag.Title = "SearchResults";
}

<h2>Your Search Results</h2>

<p>So, this is where the results would be, but....yeah, time kind of got lost for this one and I was real lazy. Whoops. Here, have a doggo instead!</p>

<img src="https://memegenerator.net/img/instances/81206276/cute-doggo-says-pls-dont-sad.jpg"/>