body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #383838;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: #00f712;
    border: solid 3px black;
    
    margin-top: 30px;
}

.navbar-inverse {
    background-color: black;
}

.jumbotron h1 {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    font-size: 63px;
    color: #ffd533;
}

.jumbotron p {
    font-size: 23px;
    color: black;
}